.header-homepage
    div(class="vintage-ptb") VINTAGE PHOTOBOOTH
    //- Thêm div đồng hồ vào đây
//-     div(id="timer-container" class="timer-hidden")
//-         span Thời gian còn lại: 
//-         span(id="countdown-display") 10:00
    img(src="/ui/logo.png", alt="Fotolatter", class="logo")