extend ../layout/default.pug
block main 
  .homepage-container
    .edit-container
      .frame-group 
        each frame in frameList
          img.frame-item(
            src=frame.url
            alt="frame"
            data-frame=frame.name
            frame-item,id="frame-item"
          )
    a(class=" btn-guide ",btn-finish)  Next
  script(src="/js/choose-frame.js")

