extends ../layout/main

block content
  div.h-screen.w-full.flex.items-center.justify-center.p-12.animate-fade-in
      if error
        .alert.alert-danger(role="alert")= error
      div.flex.items-center(style="gap:6rem")
        div.flex.flex-col.items-center
          p.font-logo.text-6xl.glow-text.mt-4.mb-2(style="width:max-content") Nhập mã chụp ảnh
          p.text-xl.glow-text.mt-4(style="width:max-content; margin-bottom:15rem") Nếu mã có vấn đề, khách iu hãy gọi các bạn nhân viên hỗ trợ nha!
          +btn('Quay lại', '/guide', 'italic px-10  ')
        div.w-full.max-w-5xl.pt-20.flex.flex-col.items-center
          //- Khu vực hiển thị 6 ô số
          div.flex.justify-center.mb-12
            each i in [0, 1, 2, 3, 4]
              div.code-digit(id=`digit-${i}`)

          //- Bàn phím số Numpad
          div.grid.grid-cols-3.gap-6.mb-12
            each num in [1, 2, 3, 4, 5, 6, 7, 8, 9]
              div.numpad-key(onclick=`inputNum('${num}')`)= num
            
            //- Nút xóa (Dùng font Pinyon cho nghệ)
            div.numpad-key.font-logo.text-2xl(onclick="deleteNum()") Xóa
            div.numpad-key(onclick="inputNum('0')") 0
            
            //- Nút Tiếp tục (Chỉ sáng lên khi đủ 6 số)
            div.numpad-key.font-logo.text-2xl#submit-btn.opacity-30.pointer-events-none(onclick="submitCode()") Tiếp

      

  script(src="/js/check-code.js")
    

    