extend ../layout/default.pug
block main 
  .homepage-container
    h1 Đang in ảnh...
    .printing-container
      .final-photo-box
        p.printing-title Ảnh đã chụp
        img(src="/images/test_in.jpg" , alt="", srcset="", style="max-height:400px")
      .cf-button 
        button.btn-guide(btn-print) In anh 
  script(src="/js/test-printing.js") 
