mixin btn-primary(text, href="#", extraClass="")
  a(href=href class=`bg-main text-white rounded-[50px] font-pinyon hover:opacity-90 transition-opacity shadow-md flex items-center justify-center  ${extraClass}`)
    span= text