extends ../../layout/default.pug

block main
  div.space-y-6
    div
      h2.text-3xl.font-semibold.text-gray-900 Cài Đặt Hệ Thống
      p.text-sm.text-gray-500.mt-1 Thay đổi các thông số cho photobooth
      
    div.bg-white.shadow.rounded-lg.border.border-gray-200.p-6
      p.text-gray-500 Chức năng Cài Đặt sẽ được tích hợp Backend sau.
