.sider(style="width: 120px; ") 
  .inner-menu(style=" padding: 0;")
    ul  
      li
        a(href=`${prefixAdmin}/dashboard`) Tổng quan
     
      li 
        a(href=`${prefixAdmin}/payment`) Thanh toán
      li 
        a(href=`${prefixAdmin}/codeList`) Mã đã tạo
    